* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

nav{
    background-color: gray;
    position: sticky;
    top: 0;
}

nav ul {
    height: 75px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
}

li {
    list-style: none;
}


/* .contenedor-relativo{
    width: 600px;
    height: 400px;
    background-color: gray;
    position: relative;
    left: 50px;
}
.contenedor-relativo h2 {
    position: absolute;
    top: 20px;
    z-index: 100;
    top: 30px;
}
.box{
    background-color: green;
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: 10;
    left: 100px;
    bottom: 90px;
} */

.boton-flotante{
    background-color: green;
    color: white;
    width: 100px;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;

    position: fixed;
    bottom: 50px;
    right: 50px;
}

.boton-flotante:hover{
    box-shadow: 5px 5px 2px black;
}

/* PSEUDOELEMENTOS */

li::after {
    content: " ⬅️";
}

p::selection{
    background-color: green;
    color: white;
}